body {
  font-size: 1.6 rem;
  font-family: "Sora", sans-serif;
}
.content-center {
  margin-bottom: 200px;
  margin-left: 75px;
  justify-content: center;
  background-color: #2e80ce;
  display: flex;
  position: relative;
  width: 1100px;
  height: 427px;
  border-radius: 4px;
}
.button {
  color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--btn-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.control-btn {
  display: flex;
  gap: 30px;
}
.control-btn :hover {
  background-color: var(--page-color);
  color: white;
  cursor: pointer;
}
:root {
  --page-color: #10375c;
  --btn-color: #2e80ce;
  --letter-color: #fb9899;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
  /* width: 100%; */
}
.content {
  max-width: 100%;
  height: 100%;
  padding-left: auto;
  padding-right: auto;
  background: #10375c;
}
.body {
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-fixed {
  display: block;
  background: var(--page-color);
  position: sticky;
  top: 0px; /*để giữ lại 1 khoảng của khoảng cách trừ đi cái 26px này  */
  z-index: 1;
  padding-top: 30px;
}

.header-fixed .body {
  display: flex;
  position: relative;

  /* width: 1170px; */
}
.header-fixed .nav ul {
  /* margin-left: 104px; */
  gap: 42px;
  display: flex;
  align-items: center;
}
.header-fixed .nav li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
}
.header-fixed .Home::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.Log-in {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  text-align: right;
  color: #c9d2da;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background: var(--btn-color);
  text-decoration: none;
}
.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;

  color: #10375c;
}
.desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #575f66;
}
.detail {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #575f66;
}
.sign-up {
  display: inline-flex;
  justify-content: center;
  margin-left: 28px;
  width: 104px;
  height: 44px;
  border-radius: 22px;
  align-items: center;
  text-decoration: none;
}
/* Header-fixed */
.header-fixed {
  .header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
  }
}
.header-fixed .Logo {
  position: absolute;
  left: 75px;
}
.header-fixed .action {
  position: absolute;
  right: 67px;
}
/* HERO */
.Hero .body {
}
.Hero .content {
  padding-top: 76px;
}
.Hero .title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 22px;
}
.Hero .double-img {
  display: flex;
}
.Hero .desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #c9d2da;
  margin-bottom: 38px;
}
.Hero .cta-group {
  align-items: center;
}
.Hero .cta-group {
  display: flex;
}
.Hero .cta-group .btn {
  color: #fffff;
  width: 205px;
  height: 60px;
  left: 135px;
  top: 570px;
  background: var(--btn-color);
  border-radius: 30px;
}
.Hero .cta-group p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  margin-left: 38px;
  text-align: center;
  color: #ffffff;
}
.Hero .info {
  width: 44%;
  margin-right: 15px;
}
.Hero .double-img {
  align-items: center;
}
.Hero .double-img .big {
  width: 330px;
  height: 540px;
}
.Hero .double-img .small {
  width: 210px;
  height: 410px;
}
/* Service */
.Services .content {
  background: #ffffff;
  margin-top: 170px;
  margin-bottom: 18px;
}
.Services .body {
  margin-left: 78px;
}
.Services .services-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.Services .service-picture {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}
.Services .service-top {
  justify-content: center;
}
.Services .services-desc {
  width: 40%;
  margin: 0 auto 70px auto;
  padding-left: 24px;
}
.Services .service-summary {
  width: 40%;
  margin-top: 137px;
}
.Services .service-summary .item:hover {
  cursor: pointer;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.Services .title-small {
  font-weight: 600;
  font-size: 1.8rem;
  color: #10375c;
}
.Services .item {
  display: flex;
}
.Services .btn {
  width: 205px;
  height: 60px;
  background: #2e80ce;
  border-radius: 30px;
  margin-left: -5px;
  margin-top: 50px;
}
/* SEARCH */
.Search {
  margin-top: 170px;
  height: 826px;
}
.Search .content {
  background: #f7fbff;
}
.Search .top {
  margin-left: 70px;
  width: 40%;
}
.Search .title {
  margin-bottom: 18px;
  padding-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}
.Search .desc {
  margin-left: 2px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
  width: 468px;
  height: 60px;
}
.Search .body {
  height: 402px;
  margin-left: 37px;
  margin-top: 86px;
  margin-bottom: 100px;
}
.Search .item {
  background: #ffffff;
  margin-right: 30px;
  border-radius: 4px;
  gap: 30px;
  width: 322px;
  height: 402px;
  border: 16px solid #eaf6ff;
}
.Search .in-item {
  margin: 43px;
}
.Search .info-search {
  margin-top: 20px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.38;
  color: #10375c;
}
.Search .desc-search {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 18px;
  line-height: 1.75;
  color: #575f66;
}
.Search .more {
  font-size: 16px;
  line-height: 1.75;
  color: #575f66;
}
.Search .item:hover {
  cursor: pointer;
  border-radius: 4px;
  border: 16px solid #2e80ce;
  margin-bottom: 16px;
}
.Search .more:hover {
  cursor: pointer;
  color: #2e80ce;
}
/* Expect */
.Expect {
  height: 491px;
}
.Expect .body {
  height: 612px;
  position: relative;
}
.Expect .double-img {
  width: 30%;
  position: absolute;
  left: 0;
  top: -13px;
  margin-left: 48px;
}

.Expect .content {
  background: rgb(93, 192, 138);
}
.Expect .double-img .big-picture {
  width: 512px;
  height: 370px;
}
.Expect .double-img .small-picture {
  width: 332px;
  height: 370px;
  position: absolute;
  top: 134px;
  left: 213px;
}
.Expect .result {
  top: 82px;
  position: absolute;
  right: 64px;
}
.Expect .our-target {
  margin-bottom: 18px;
  width: 470px;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}
.Expect .reason {
  position: absolute;
  right: 0;
  width: 470px;
  height: 326px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #575f66;
}
.Expect .btn {
  margin-top: 119px;
  position: absolute;
  width: 205px;
  height: 60px;
  background: #2e80ce;
  border-radius: 30px;
}
/* News */
.News .content {
  margin-top: 170px;
  background: #ffff;
}
.News .item {
  gap: 30px;
  display: flex;
  width: 1240px;
  justify-content: center;
}
.News .body-news {
  display: inline-block;
  gap: 30px;
  height: 686px;
}
.News .heading {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 38px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #10375c;
}
.News .btn {
  margin-bottom: 40px;
  margin-left: 517px;
  width: 205px;
  height: 60px;
  background: #2e80ce;
  border-radius: 30px;
}
.News .img-news {
  background: #eaf6ff;
  width: 250px;
  height: 318px;
  border-radius: 6px;
}
.name-dentist {
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.name-uni {
  font-family: Sora;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
/* |News btn */
.News .control-btn {
  margin-top: 30px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.News .button {
  color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--btn-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.News .control-btn :hover {
  background-color: var(--page-color);
  color: white;
  cursor: pointer;
}
.News .right {
  color: var(--btn-color);
}

/* ====APPS==== */
.App {
  margin-bottom: 200px;
  margin-left: 75px;
  justify-content: center;
  background-color: #2e80ce;
  display: flex;
  position: relative;
  width: 1100px;
  height: 427px;
  border-radius: 4px;
}
.App .text {
  position: absolute;
  top: 45px;
  right: 45px;
  width: 586px;
  height: 276px;
  border: 1px;
}
.App .mobile {
  position: absolute;
  bottom: 0;
  left: 45px;
}
.App .title {
  color: #ffffff;
  font-family: Sora;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
}
.App .download {
  display: flex;
  gap: 20px;
}
/* ----Blog---- */
.Blog .content-center {
  background: white;
}
.Blog .Text .title {
  width: 470px;
  height: 120px;
  top: 5191px;
  left: 135px;
  font-family: Sora;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #10375c;
}
.Blog .Text .cta {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #10375c;
  margin-top: 30px;
}
.Blog .button {
  width: 36px;
  height: 36px;
}
.Blog .Control-Media {
  display: flex;
}
.Blog .title {
  margin: 20px 0;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #10375c;
}
.Blog .detail {
  font-family: Sora;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 226px;
  height: 72px;
  top: 5375px;
  left: 757px;
}
.Blog .cta {
  font-family: Sora;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.Blog .Media:hover {
  cursor: pointer;
}
/* Welcome */
.Welcome .title {
  position: relative;
  font-family: Sora;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
}
.Welcome .title::after {
  position: absolute;

  bottom: -40px;
  left: 552px;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  content: "";
}
.Welcome .introduce {
  font-family: Sora;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  width: 617px;
  height: 56px;
  top: 5866px;
  left: 411px;
  margin-top: 80px;
  margin-left: 316px;
}
.Welcome .button {
  width: 205px;
  height: 60px;
  top: 5960px;
  left: 617px;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 517px;
}
.footer {
  background: var(--page-color);
  height: 533px;
  margin-top: 100px;
}
.footer .text {
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 336px;
  height: 56px;
  top: 6442px;
  left: 135px;
}
.footer {
  display: flex;
  padding-top: 60px;
  padding-left: 75px;
}
.footer .left {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9b3bb;
  padding-left: 50px;
}
.footer .text {
  padding-top: 20px;
}
.footer .hight-light {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.footer .under {
  padding-top: 25px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9b3bb;
  margin-right: 60px;
}
.footer .btn {
  width: 108px;
  height: 46px;
  top: 6608px;
  left: 1197px;
  border-radius: 4px;
}
.footer .import {
  gap: 15px;
  display: flex;
}
